body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.item {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.item_left {
    float: left;
    width: 40%;
}

.item_right {
    float: right;
    width: 60%;
}

.item .poster, .item .details {
    float: left;
    padding: 10px 10px 20px;

    position: relative;

}

.item .poster > img {
    width: 100%;
}

.clear {
    clear: both !important;
    float: none !important;
}


.e-preview {
    margin-bottom: 1em
}